@model IEnumerable<Manufacturer>
@{
    ViewData["Title"] = "Manufacturer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Manufacturer</h1>
        <a  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="Manufacturer" asp-action="Create">
            <i class="fa fa-plus-circle fa-sm text-white-50"></i> Add Manufacturer
        </a>
    </div>
    <!-- Content Row -->

  

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>M ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Contact Number</th>
                                <th>Product Type</th>
                                <th>Is Active</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>M ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Contact Number</th>
                                <th>Product Type</th>
                                <th>Is Active</th>
                                <th>Edit</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var Obj in Model)
                            {
                                <tr>
                                    <td>@Obj.ManufacturerID</td>
                                    <td>@Obj.ManufacturerName</td>
                                    <td>@Obj.ManufacturerAddress</td>
                                    <td>@Obj.ManufacturerContactNumber</td>
                                    <td>@Obj.ManufacturerProductType</td>
                                    <td>@Obj.ManufacturerIsActive</td>
                                    <td>
                                        <div class="btn btn-primary">
                                            <a asp-controller="Manufacturer" asp-action="Edit" asp-route-id="@Obj.ManufacturerID"><i class="bi bi-pencil-square"></i>Edit</a>
                                        </div>
                                    </td>
                                </tr>



                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>




    


</div>
<!-- /.container-fluid -->
